<div class="ms-2">
  <h1 class="d-flex justify-content-center align-self-center"><%= t('global.index.all_students') %></h1>
  <div class="d-flex flex-row justify-content-center">
    <table class="table table-dark table-striped w-10" style="width: 35rem;">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t('global.index.student_name') %></th>
        <th scope="col"><%= t('global.index.student_surname') %></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.id %></td>
          <td><%= student.name %></td>
          <td><%= student.surname %></td>
          <td><%= button_to t('global.index.edit'), edit_student_path(student), :method => :get, :class => 'btn btn-primary link' %></td>
          <td><%= button_to t('global.index.delete'), student_path(student), :method => :delete, data: { confirm: "are u sure?" }, :class => 'btn btn-danger link' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= button_to t('global.index.add_new'), new_student_path, :method => :get, :class => 'ms-2 btn btn-success link' %>
  </div>
</div>